<h1><%= t("order_mailer.hello", name: @order.user_name) %></h1>
<p><%= t("order_mailer.content.#{@order.status}") %></p></br>
<div class="row">
  <div class="col-sm-12">
    <div class="card-box table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <%= t "orders.product_name" %></th>
            <%= t "orders.quantity" %></th>
            <%= t "orders.price" %></th>
            <%= t "orders.total_price" %></th>
          </tr>
        </thead>
        <tbody>
          <% @order_detail.each do |detail|%>
            <tr>
              <td><%= detail.product_name %></td>
              <td><%= detail.quantity %></td>
              <td><%= number_to_currency(detail.product_price, locale: :vi) %></td>
              <td><%= number_to_currency(detail.product_price*detail.quantity, locale: :vi) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
   </div>
</div>
<hr>
<<<<<<< HEAD
  <h3>
    <b><%= t "orders.total" %></b>:
      <%= number_to_currency(@total, locale: :vi) %>
  </h3>
=======
  <h3 style="color: black;">
    <b><%= t "orders.total" %></b>:
    <%= number_to_currency(@total, locale: :vi) %>
  </h3>

>>>>>>> [Admin] Detail product
