<tr>
  <td><%= order.user_name %></td>
  <td><%= order.address_phone %></td>
  <td><%= order.address_address %></td>
  <td><%= l order.created_at, format: :own %></td>
  <td>
    <%= number_to_currency(order.total_price, locale: :vi) %>
  </td>
  <td><%= t "status_order.#{order.status}" %></td>
  <td>
    <%= link_to t("orders.view"), admin_order_path(order), class: "btn btn-primary btn-sm" %>
    <% if order.open? %>
      <%= link_to t("orders.approve"), approve_admin_order_path(order), method: :put, data: { confirm: t("you_sure") }, class: "btn btn-success btn-sm" %>
      <%= link_to t("orders.reject"), reject_admin_order_path(order), method: :put, data: { confirm: t("you_sure") }, class: "btn btn-danger btn-sm" %>
    <% end %>
    <% if order.confirmed? %>
      <%= link_to t("orders.cancel"), reject_admin_order_path(order), method: :put, data: { confirm: t("you_sure") }, class: "btn btn-danger btn-sm" %>
    <% end %>
    <%= button_to t("delete_image"), reject_admin_order_path(order),
                                method: :put %>
  </td>
</tr>
