<% provide(:title, @title) %>
<div>
  <div class="page-title">
    <div class="title_left">
      <h3><b><%= @title %></b></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_content">
        <div class="infor_order row">
          <div class="col-md-1 infor_col">
            <p><%= t "orders.fullname" %>:</p>
            <p><%= t "orders.phone" %>:</p>
            <p><%= t "orders.address" %>:</p>
            <p><%= t "orders.status" %>:</p>
            <p><%= t "orders.created_order" %>:</p>
          </div>
          <div class="col-md-8">
            <p><%= @order.user_name %></p>
            <p><%= @order.address_phone %></p>
            <p><%= @order.address_address %></p>
            <p><%= t "status_order.#{@order.status}" %></p>
            <p><%= l @order.created_at, format: :own %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= t "orders.product_name" %></th>
                    <th><%= t "orders.quantity" %></th>
                    <th><%= t "orders.price" %></th>
                    <th><%= t "orders.total_price" %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @order_detail.each do |detail|%>
                    <tr>
                      <td><%= detail.product_name %></td>
                      <td><%= detail.quantity %></td>
                      <td><%= number_to_currency(detail.product_price, locale: :vi) %></td>
                      <td><%= number_to_currency(detail.product_price*detail.quantity, locale: :vi) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <div>
      <%= link_to t("orders.back"), admin_orders_path, class: "btn btn-secondary btn-sm" %>
      <% if @order.open? %>
        <%= link_to t("orders.approve"), approve_admin_order_path(@order), method: :put, data: { confirm: t("you_sure") }, class: "btn btn-success btn-sm" %>
        <%= link_to t("orders.reject"), reject_admin_order_path(@order), method: :put, data: { confirm: t("you_sure") }, class: "btn btn-danger btn-sm" %>
      <% end %>
      <% if @order.confirmed? %>
        <%= link_to t("orders.cancel"), reject_admin_order_path(@order), method: :put, data: { confirm: t("you_sure") }, class: "btn btn-danger btn-sm" %>
      <% end %>
      </div>
      <hr>
      <div class="d-flex justify-content-end">
        <h3>
          <b><%= t "orders.total" %></b>:
          <%= number_to_currency(@total, locale: :vi) %>
        </h3>
      </div>
    </div>
  </div>
</div>
