<%= search_form_for [:admin,@q] do |f| %>
  <div class="row">
    <div class="col-5 lable-form">
      <%= f.label  t "search_admin.name_description" %>
      <%= f.search_field :product_cont, class: "form-control" %>
    </div>
    <div class="col-5 lable-form">
      <%= f.label  t "search_admin.name_category" %>
      <%= f.search_field :category_name_cont, class: "form-control" %>
    </div>
    <div class="col-5 lable-form">
      <%= f.label t "search_admin.price_gteq" %>
      <%= f.number_field :price_gteq, class: "form-control" %><br>
    </div>
    <div class="col-5 lable-form">
      <%= f.label  t "search_admin.price_lteq", class: "lable-form"  %>
      <%= f.number_field :price_lteq, class: "form-control" %><br>
     </div>
    <div class="col-5 lable-form">
      <%= f.label  t "search_admin.create_at_gteq" %>
      <%= f.date_field :created_at_gteq, value: "%Y/%D/%M", class: "form-control" %><br>
    </div>
    <div class="col-5 lable-form">
      <%= f.label  t "search_admin.create_at_lteq" %>
      <%= f.date_field :created_at_lteq, value: "%Y/%D/%M", class: "form-control" %><br>
    </div>
  </div>
  <%= submit_tag t("admin.submid") , class: "btn btn-primary btn-sm mt-2" %>
<% end %>

