<% provide :title, @title %>
<h1 class="h1-show">
  <%= t "show_product_admin.title" %>
</h1>
<table class="table font-table">
  <thead>
    <tr>
      <th scope="col" class="laber">
        <%= t "show_product_admin.image" %>
      </th>
      <th class="image">
        <% if @product.image.attached? %>
          <%= image_tag @product.display_image %>
        <% else %>
          <%= gravatar_for @product %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th scope="col" class="laber">
        <%= t "show_product_admin.name" %>
      </th>
      <th>
        <%= @product.name %>
      </th>
    </tr>
    <tr>
      <th scope="col" class="laber">
        <%= t "show_product_admin.price" %>
      </th>
      <th>
        <%= number_to_currency(@product.price, locale: :vi)%>
      </th>
    </tr>
    <tr>
      <th scope="col" class="laber">
        <%= t "show_product_admin.description" %>
      </th>
      <th>
    <%= @product.description %>
      </th>
    </tr>
    <tr>
      <th scope="col" class="laber">
        <%= t "show_product_admin.quantity" %>
      </th>
      <th>
        <%= @product.quantity %>
      </th>
    </tr>
    <tr>
      <th scope="col" class="laber">
        <%= t "show_product_admin.category_name" %>
      </th>
      <th>
        <%= @product.category_name %>
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= link_to t("orders.back"), admin_products_path, class: "btn btn-secondary btn-sm" %>
<%= link_to t("edit_product.edit"), edit_admin_product_path(@product), class: "btn btn-primary btn-sm" %>
