<body class="bg-gradient-to-tr from-yellow-400 to-purple-400 relative">
  <!-- Header -->
  <div>
    <%= yield %>
    <%= render "layouts/header" %>
  </div>
  <!-- Home -->
  <section id="home" class="text-gray-700">
    <div
      class="container flex flex-col items-start px-5 py-16 mx-auto mt-8 lg:items-center md:flex-row lg:px-28 bg-white opacity-90 rounded-xl">
      <div class="w-full mb-10 lg:w-1/2 lg:max-w-lg md:w-1/2">
        <img class="object-cover object-center rounded-xl" alt="hero" loading="lazy"
          src="/imgs/spa-20785.jpg">
      </div>
      <div class="flex flex-col items-start text-left lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16">
        <div class="flex flex-col w-full gap-2 md:justify-start md:flex-row">
          <%= link_to t("book_now"), home_path , 
          class: "flex items-center px-6 py-3 mt-auto font-semibold text-white transition duration-500 ease-in-out transform bg-green-600 rounded-lg hover:bg-green-700 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2" %>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Services -->
  <div>
    <%= yield %>
    <%= render "home_product" %>
  </div>
  
  <!-- Options -->
  <section class="text-gray-700 fixed z-[100] bottom-9 right-4 ">
    <ul>
      <li>
        <button id="btn_openForm" class="booking-button cursor-pointer w-16 h-16 bg-green-600 rounded-full border-[1px] border-white flex items-center justify-center">
          <i class="fas fa-shopping-cart text-3xl text-white"><%= t "cart"  %></i>
        </button>
      </li>
    </ul>
  </section>

  <!-- Footer -->
  <div>
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
</body>
