<body class="bg-gradient-to-tr from-yellow-400 to-purple-400 relative">

  <!-- Checkout -->
  <section id="home" class="text-gray-700">
    <div class="container flex flex-col items-start px-5 py-16 mx-auto mt-8 lg:items-center md:flex-row lg:px-28 bg-white opacity-90 rounded-t-xl">
      <div class="flex">
        <% if @product.image.attached? %>
          <%= image_tag @product.display_image %>
        <% else %>
          <%= gravatar_for @product %>
        <% end %>
          <div>
            <h2 class="text-3xl font-semibold mb-4" style= "font-family:cursive;font-size:55px;color:violet"><%= t "title", locale: :en  %></h2><br>
            <h2 class="text-3xl font-semibold mb-4 text-green-600"> <%= t("product_price", price:@product.price) %></h2><br>
            <div>
              <%= link_to t("book_now"), home_path, class: "flex mt-10 w-36 h-11 justify-center items-center bg-white rounded-3xl text-green-600 font-bold" %><br>
            </div>
            <%= form_for :carts, url: {action: :create, controller: :carts}, :remote => true do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <h2 class="mb-4"><%= t "quantity" %></h2><br>
              <input type="number" id="" class="w-16 outline-none border-2 rounded-md pl-2" step="1" min="1" max="" name="carts[quantity]" data-id="1419" value="1" title="SL" size="4" placeholder="" inputmode="numeric">
              <%= f.submit t("add_to_cart") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
