<body class="bg-gradient-to-tr from-yellow-400 to-purple-400 relative">
  <!-- Header -->
  <div>
    <%= yield %>
    <%= render "layouts/header" %>
  </div>

  <!-- Checkout -->
  <section id="home" class="text-gray-700">
    <div class="container flex flex-col items-start px-5 py-16 mx-auto mt-8 lg:items-center md:flex-row lg:px-28 bg-white opacity-90 rounded-t-xl">
      <div class="flex">
        <%= image_tag @product.display_image if @product.image.attached? %></div>
          <div>
            <h2 class="text-3xl font-semibold mb-4" style= "font-family:cursive;font-size:55px;color:violet"><%= t "title", locale: :en  %></h2>
            <h2 class="text-3xl font-semibold mb-4 text-green-600"> <%= t("product_price", price:@product.price) %></h2>
            <div>
              <h2 class="mb-4"><%= t "quantity" %></h2>
              <input type="number" id="" class="w-16 outline-none border-2 rounded-md pl-2" step="1" min="1" max="" name="quantity" data-id="1419" value="1" title="SL" size="4" placeholder="" inputmode="numeric">
            </div>
            <div>
              <%= link_to t("book_now"), home_path, class: "flex mt-10 w-36 h-11 justify-center items-center bg-white rounded-3xl text-green-600 font-bold" %>
              <%= link_to t("add_to_cart"), home_path, class: "flex mt-10 w-36 h-11 justify-center items-center bg-white rounded-3xl text-green-600 font-bold" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Options -->
  <section class="text-gray-700 fixed z-[100] bottom-9 right-4 ">
    <ul>
      <li>
        <button id="btn_openForm" class="booking-button cursor-pointer w-16 h-16 bg-green-600 rounded-full border-[1px] border-white flex items-center justify-center">
          <i class="fas fa-shopping-cart text-3xl text-white"><%= t "cart" %></i>
        </button>
      </li>
    </ul>
  </section>
    
  <!-- Footer -->
  <div>
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
</body>
