<header class="head border-b-2 left-0 right-0 top-0 w-full bg-white z-[99] block sticky">
  <%= link_to t("English"), locale: :en %>
  <%= link_to t("Vietnamese"), locale: :vi %>
  <div class="container items-center my-0 mx-auto">
    <div class="text-gray-700 transition duration-500 ease-in-out transform bg-white">
      <div class="flex flex-col flex-wrap p-5 mx-auto md:items-center md:flex-row">
        <a href="#" class="pr-2 lg:pr-8 lg:px-6 focus:outline-none " style="text-decoration:none;">
          <div class="inline-flex items-center">
            <div class="mr-2">
              <img class="w-7" src="/imgs/eco-5465459_1280111.png" alt="">
            </div>
            <h2
              class="block p-2 text-2xl font-medium tracking-tighter text-gray-700 transition duration-500 ease-in-out transform cursor-pointer lg:text-x lg:mr-8">
              <%= t "title", locale: :en %>  </h2>
          </div>
        </a>
        <nav class="flex flex-wrap items-center text-base justify-left ">
          <ul class="items-center inline-block list-none lg:inline-flex">
            <li>
              <%= link_to t("home", locale: :en), home_path , class: "px-4 py-1 mr-1 text-lg font-semibold text-gray-500 transition duration-500 ease-in-out transform rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:text-green-600" %>
            </li>
            <li>
              <%= link_to t("our_services", locale: :en), home_path , class: "px-4 py-1 mr-1 text-lg font-semibold text-gray-500 transition duration-500 ease-in-out transform rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:text-green-600" %>
            </li>
            <li>
              <% if logged_in? %>
                <%= link_to t("logout", locale: :en), "#" %> 
              <% end %>
            </li>
            <li>
              <% if logged_in? %>
                <%= link_to t("logout"), logout_path, method: "delete" %> 
              <% end %>
            </li>
          </ul>
        </nav>      
      </div>
    </div>
  </div>
</header>
