<!DOCTYPE html>
<html>
  <head>
    <title><%=t "title", locale: :en %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
  <%= render "layouts/header" %>
    <section class="content" style="min-height: auto;">
      <div class="container flash-noti">
        <% flash.each do |message_type, message| %>
          <% if message_type == "notice" %>
            <div class="alert alert-success"><%= message %></div>
          <% elsif message_type == "alert" %>
            <div class="alert alert-danger"><%= message %></div>
          <% else %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        <% end %>
      </div>
    </section>
    <div class="bg-gradient-to-tr from-yellow-400 to-purple-400 relative content_body">
      <%= yield %>
    </div>
   <%= render "layouts/footer" %>
  </body>
</html>
